.container{
    width: 20rem;
    padding: 1em;
    border-radius: 10px;
    background-color: #00a57d;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
  margin-bottom: 20px;
 
  flex-wrap: wrap;
 
    

    
}

.closeButton{
    border: 0px;
    background-color: rgb(255, 255, 255);
   
    width: fit-content;
    height: fit-content;
    
    border-radius: 30px black;
    
    }

.info {
    color: rgba(255, 255, 255, 0.955);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.374),
                 0 0 10px rgba(255, 255, 255, 0.401),
                 0 0 15px rgba(255, 255, 255, 0.387),
                 0 0 20px rgba(255, 255, 255, 0.341);
  }